<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pivot.aham.api.service.mapper.AccountPerformanceFeeDetailsMapper">

    <resultMap id="AccountPerformanceFeeDetailsRes" type="AccountPerformanceFeeDetails">
        <result property="id" column="id"></result>
        <result property="clientId" column="client_id"></result>
        <result property="accountId" column="account_id"></result>
        <result property="goalId" column="goal_id"></result>
        <result property="userBatchId" column="user_batch_id"></result>
        <result property="dayNav" column="day_nav"></result>
        <result property="depositNav" column="deposit_nav"></result>
        <result property="share" column="share"></result>
        <result property="feeType" column="type_fee"></result>
        <result property="performanceFee" column="performance_fee"></result>
        <result property="performanceFeeGst" column="performance_fee_gst"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>

    </resultMap>
    
    <sql id="baseColum">
        id, account_id, client_id, goal_id, user_batch_id, day_nav, deposit_nav, share,
        type_fee, performance_fee, performance_fee_gst
    </sql>
    
    <select id="getLastAccPerFeeDetails" resultMap="AccountPerformanceFeeDetailsRes">
           SELECT
                <include refid="baseColum"/>
           FROM t_account_performance_fee_details     
        <where>
             <if test="@Ognl@isNotEmpty(clientId)">
                client_id=#{clientId}
            </if>
            <if test="@Ognl@isNotEmpty(goalId)">
                and goal_id=#{goalId}
            </if>
            <if test="@Ognl@isNotEmpty(userBatchId)">
                and user_batch_id=#{userBatchId}
            </if>
            <if test="@Ognl@isNotEmpty(accountId)">
                and account_id =#{accountId}
            </if>
        </where>
         order by id desc limit 1
    </select>
    
    
    <select id="getListAccPerformanceFeeDetails" resultMap="AccountPerformanceFeeDetailsRes">
           SELECT
                <include refid="baseColum"/>
           FROM t_account_performance_fee_details     
        <where>
             <if test="@Ognl@isNotEmpty(clientId)">
                client_id=#{clientId}
            </if>
            <if test="@Ognl@isNotEmpty(goalId)">
                and goal_id=#{goalId}
            </if>
            <if test="@Ognl@isNotEmpty(userBatchId)">
                and user_batch_id=#{userBatchId}
            </if>
            <if test="@Ognl@isNotEmpty(accountId)">
                and account_id =#{accountId}
            </if>
            <if test="@Ognl@isNotEmpty(feeType)">
                and type_fee =#{feeType}
            </if>
            <if test="@Ognl@isNotEmpty(createTime)">
                and DATE_FORMAT(create_time,'%Y-%m-%d')=DATE_FORMAT(#{createTime},'%Y-%m-%d')
            </if>
        </where>
    </select>
    
    <select id="getSumDeductedShare" resultMap="AccountPerformanceFeeDetailsRes">
           SELECT IFNULL(sum(share),0) as share
           FROM t_account_performance_fee_details     
        <where>
             <if test="@Ognl@isNotEmpty(clientId)">
                client_id=#{clientId}
            </if>
            <if test="@Ognl@isNotEmpty(goalId)">
                and goal_id=#{goalId}
            </if>
            <if test="@Ognl@isNotEmpty(userBatchId)">
                and user_batch_id=#{userBatchId}
            </if>
            <if test="@Ognl@isNotEmpty(accountId)">
                and account_id =#{accountId}
            </if>
            <if test="@Ognl@isNotEmpty(feeType)">
                and type_fee =#{feeType}
            </if>
            <if test="@Ognl@isNotEmpty(createTime)">
                and DATE_FORMAT(create_time,'%Y-%m-%d')=DATE_FORMAT(#{createTime},'%Y-%m-%d')
                 <!--and create_time >=#{createTime}-->
            </if>
        </where>
    </select>
    
    <insert id="saveAccountPerformanceFeeDetails" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_account_performance_fee_details (
        <trim suffixOverrides=",">
            <if test="@Ognl@isNotEmpty(id)">
                id,
            </if>
            <if test="@Ognl@isNotEmpty(clientId)">
                client_id,
            </if>
            <if test="@Ognl@isNotEmpty(accountId)">
                account_id,
            </if>
            <if test="@Ognl@isNotEmpty(goalId)">
                goal_id,
            </if>
            <if test="@Ognl@isNotEmpty(userBatchId)">
                user_batch_id,
            </if>
            <if test="@Ognl@isNotEmpty(dayNav)">
                day_nav,
            </if>
            <if test="@Ognl@isNotEmpty(depositNav)">
                deposit_nav,
            </if>
            <if test="@Ognl@isNotEmpty(share)">
                share,
            </if>
            <if test="@Ognl@isNotEmpty(feeType)">
                type_fee,
            </if>
            <if test="@Ognl@isNotEmpty(performanceFee)">
                performance_fee,
            </if>
            <if test="@Ognl@isNotEmpty(performanceFeeGst)">
                performance_fee_gst,
            </if>
            <if test="@Ognl@isNotEmpty(createTime)">
                create_time,
            </if>
            <if test="@Ognl@isNotEmpty(updateTime)">
                update_time,
            </if>
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            <if test="@Ognl@isNotEmpty(id)">
                #{id},
            </if>
            <if test="@Ognl@isNotEmpty(clientId)">
                #{clientId},
            </if>
            <if test="@Ognl@isNotEmpty(accountId)">
                #{accountId},
            </if>
            <if test="@Ognl@isNotEmpty(goalId)">
                #{goalId},
            </if>
            <if test="@Ognl@isNotEmpty(userBatchId)">
                #{userBatchId},
            </if>
            <if test="@Ognl@isNotEmpty(dayNav)">
               #{dayNav},
            </if>
            <if test="@Ognl@isNotEmpty(depositNav)">
                #{depositNav},
            </if>
            <if test="@Ognl@isNotEmpty(share)">
                #{share},
            </if>
            <if test="@Ognl@isNotEmpty(feeType)">
                #{feeType},
            </if>
            <if test="@Ognl@isNotEmpty(performanceFee)">
                #{performanceFee},
            </if>
            <if test="@Ognl@isNotEmpty(performanceFeeGst)">
                #{performanceFeeGst},
            </if>
            <if test="@Ognl@isNotEmpty(createTime)">
                #{createTime},
            </if>
            <if test="@Ognl@isNotEmpty(updateTime)">
                #{updateTime},
            </if>
        </trim>
        )
    </insert>
    
   <!-- <update id="updateAccPerformanceFeeStatus">
        UPDATE t_account_performance_fee
        <set>
            <if test="@Ognl@isNotEmpty(status)">
                status=#{status},
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

-->

</mapper>
