<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pivot.aham.api.service.mapper.AccountNormalFeeMapper">

    <resultMap id="AccountNormalFeeRes" type="AccountNormalFee">
        <result property="id" column="id"></result>
        <result property="clientId" column="client_id"></result>
        <result property="accountId" column="account_id"></result>
        <result property="mgtFee" column="mgt_fee"></result>
        <result property="custFee" column="cust_fee"></result>
        <result property="mgtGst" column="mgt_gst"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="reduceStatus" column="reduce_status"></result>
    </resultMap>

    <sql id="AccountNormalFeeVo">
        select id,client_id,account_id,mgt_fee,cust_fee,mgt_gst,reduce_status
         from  t_account_normal_fee
    </sql>

    <select id="selectByDay" resultMap="AccountNormalFeeRes">
        <include refid="AccountNormalFeeVo"/>
        <where>
            <if test="@Ognl@isNotEmpty(createTime)">and DATE_FORMAT(create_time,'%Y-%m-%d')=DATE_FORMAT(#{createTime},'%Y-%m-%d')</if>
            <if test="@Ognl@isNotEmpty(clientId)">and client_id=#{clientId}</if>
            <if test="@Ognl@isNotEmpty(accountId)">and account_id=#{accountId}</if>
            <if test="@Ognl@isNotEmpty(reduceStatus)">and reduce_status=#{reduceStatus}</if>
        </where>
    </select>



</mapper>
