<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pivot.aham.api.service.mapper.UserEtfSharesMapper">

    <resultMap id="UserEtfSharesRes" type="com.pivot.aham.api.service.mapper.model.UserEtfSharesPO">
        <result property="id" column="id"></result>
        <result property="accountId" column="account_id"></result>
        <result property="clientId" column="client_id"></result>
        <result property="goalId" column="goal_id"></result>
        <result property="productCode" column="product_code"></result>
        <result property="shares" column="shares"></result>
        <result property="money" column="money"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="staticDate" column="static_date"></result>
    </resultMap>

    <sql id="UserEtfSharesVo">
    select id,
    account_id,client_id,goal_id,
    product_code,
    shares,
    money,
    create_time,
    update_time,
    static_date
    from t_user_etf_shares
</sql>


    <select id="queryListByTime" resultMap="UserEtfSharesRes">
        <include refid="UserEtfSharesVo"/>
        <where>
            <if test="@Ognl@isNotEmpty(accountId)">and account_id=#{accountId}</if>
            <if test="@Ognl@isNotEmpty(clientId)">and client_id=#{clientId}</if>
            <if test="@Ognl@isNotEmpty(goalId)">and goal_id=#{goalId}</if>
            <if test="@Ognl@isNotEmpty(startStaticDate)">
                and static_date>=#{startStaticDate}
            </if>
            <if test="@Ognl@isNotEmpty(endStaticDate)">
                and #{endStaticDate}>=static_date
            </if>
            <if test="@Ognl@isNotEmpty(staticDate)">and DATE_FORMAT(static_date,'%Y-%m-%d')=DATE_FORMAT(#{staticDate},'%Y-%m-%d')</if>
            order by  static_date asc;
        </where>
    </select>

    <select id="selectByStaticDate" resultMap="UserEtfSharesRes">
        <include refid="UserEtfSharesVo"/>
        <where>
            <if test="@Ognl@isNotEmpty(productCode)">and product_code=#{productCode}</if>
            <if test="@Ognl@isNotEmpty(accountId)">and account_id=#{accountId}</if>
            <if test="@Ognl@isNotEmpty(clientId)">and client_id=#{clientId}</if>
            <if test="@Ognl@isNotEmpty(goalId)">and goal_id=#{goalId}</if>
            <if test="@Ognl@isNotEmpty(staticDate)">and DATE_FORMAT(static_date,'%Y-%m-%d')=DATE_FORMAT(#{staticDate},'%Y-%m-%d')</if>
        </where>
    </select>
</mapper>

