.idea/
log/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
*.key
~*.doc
*.pdb
*.cache
**/node_modules
**/webapp/Content-dist
**/webapp/Views-dist
**/webapp/build
**/webapp/manifest.json
logback.xml
log4j.proerties