<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pivot.aham.api.service.mapper.SaxoShareOpenPositionsMapper">

    <resultMap id="result_map" type="com.pivot.aham.api.service.mapper.model.SaxoShareOpenPositionsPO">

        <result property="id" column="id"/>
        <result property="reportingDate" column="reporting_date"/>
        <result property="instrumentType" column="instrument_type"/>
        <result property="counterpartID" column="counterpart_id"/>
        <result property="counterpartName" column="counterpart_name"/>
        <result property="accountNumber" column="account_number"/>
        <result property="partnerAccountKey" column="partner_account_key"/>
        <result property="accountCurrency" column="account_currency"/>
        <result property="instrument" column="instrument"/>
        <result property="description" column="description"/>
        <result property="instrumentCurrency" column="instrument_currency"/>
        <result property="isInCode" column="is_in_code"/>
        <result property="exchangeDescription" column="exchange_des"/>
        <result property="amount" column="amount"/>


        <result property="figureSize" column="figure_size"/>
        <result property="tradeNumber" column="trade_number"/>
        <result property="orderNumber" column="order_number"/>
        <result property="tradeTime" column="trade_time"/>
        <result property="tradeDate" column="trade_date"/>
        <result property="valueDate" column="value_date"/>
        <result property="buySell" column="buy_sell"/>
        <result property="price" column="prize"/>
        <result property="quotedValue" column="quoted_value"/>
        <result property="eodRate" column="eod_rate"/>
        <result property="instrumentToAccountTate" column="instrument_acc_rate"/>
        <result property="isPartial" column="is_partial"/>
        <result property="unrealisedValueInstrument" column="unrealised_val_inst"/>
        <result property="unrealisedValueAccount" column="unrealised_val_acc"/>
        <result property="externalOrderID" column="external_order_id"/>
        <result property="previousIsInCode" column="previous_is_in_co"/>
        <result property="dvp" column="dvp"/>
        <result property="exchangeIsoCode" column="exchange_so_co"/>
        <result property="isoMic" column="iso_mic"/>
        <result property="createTime" column="create_time"/>


    </resultMap>

    <sql id="select_columns">
        <trim suffixOverrides=",">
            id ,
            reporting_date ,
            instrument_type ,
            counterpart_id ,
            counterpart_name ,
            account_number ,
            partner_account_key ,
            account_currency ,
            instrument ,
            description ,
            instrument_currency ,
            is_in_code ,
            exchange_des ,
            amount,
            figure_size ,
            trade_number ,
            order_number ,
            trade_time ,
            trade_date ,
            value_date ,
            buy_sell ,
            prize ,
            quoted_value ,
            eod_rate ,
            instrument_acc_rate ,
            is_partial ,
            unrealised_val_inst ,
            unrealised_val_acc ,
            external_order_id ,
            previous_is_in_co ,
            dvp ,
            exchange_so_co ,
            iso_mic ,
            create_time,
        </trim>
    </sql>

    <sql id="add_columns">
        <trim suffixOverrides=",">
            reporting_date ,
            instrument_type ,
            counterpart_id ,
            counterpart_name ,
            account_number ,
            partner_account_key ,
            account_currency ,
            instrument ,
            description ,
            instrument_currency ,
            is_in_code ,
            exchange_des ,
            amount ,
            figure_size ,
            trade_number ,
            order_number ,
            trade_time ,
            trade_date ,
            value_date ,
            buy_sell ,
            prize ,
            quoted_value ,
            eod_rate ,
            instrument_acc_rate ,
            is_partial ,
            unrealised_val_inst ,
            unrealised_val_acc ,
            external_order_id ,
            previous_is_in_co ,
            dvp ,
            exchange_so_co ,
            iso_mic ,
            create_time,
        </trim>
    </sql>
    <insert id="batchInsert" parameterType="com.pivot.aham.api.service.mapper.model.SaxoShareOpenPositionsPO">
        INSERT INTO t_saxo_share_open_pos
        (
        <include refid="add_columns"/>
        )VALUES
        <foreach collection="lists" item="item" index="index" separator=",">
            (
            <trim suffixOverrides=",">
                #{item.reportingDate},
                #{item.instrumentType},
                #{item.counterpartID},
                #{item.counterpartName},
                #{item.accountNumber},
                #{item.partnerAccountKey},
                #{item.accountCurrency},
                #{item.instrument},
                #{item.description},
                #{item.instrumentCurrency},
                #{item.isInCode},
                #{item.exchangeDescription},
                #{item.amount},
                #{item.figureSize},
                #{item.tradeNumber},
                #{item.orderNumber},
                #{item.tradeTime},
                #{item.tradeDate},
                #{item.valueDate},
                #{item.buySell},
                #{item.price},
                #{item.quotedValue},
                #{item.eodRate},
                #{item.instrumentToAccountTate},
                #{item.isPartial},
                #{item.unrealisedValueInstrument},
                #{item.unrealisedValueAccount},
                #{item.externalOrderID},
                #{item.previousIsInCode},
                #{item.dvp},
                #{item.exchangeIsoCode},
                #{item.isoMic},
                #{item.createTime},
            </trim>
            )
        </foreach>

    </insert>


    <sql id="select_cond">
        <where>
            1=1
            <if test="@Ognl@isNotEmpty(createTime)">
                AND create_time>=#{createTime}
            </if>
        </where>
    </sql>

    <select id="getDataByCond" parameterType="com.pivot.aham.api.service.mapper.model.SaxoShareOpenPositionsPO"
            resultMap="result_map">
        SELECT
        <include refid="select_columns"/>
        FROM t_saxo_share_open_pos
        <include refid="select_cond"/>
        LIMIT 1
    </select>

    <select id="getListByCond" parameterType="com.pivot.aham.api.service.mapper.model.SaxoShareOpenPositionsPO" resultMap="result_map">
        SELECT
        <include refid="select_columns"/>
        FROM t_saxo_share_open_pos
        <include refid="select_cond"/>
    </select>


</mapper>
